   /*
* Style tweaks
* --------------------------------------------------
*/
.container-bar {
    background-color: green;
    height: 20px;
    width: 10000px;
    z-index: 9999;
    position:relative;
    float: right; 
    left: 50%;
}

.jumbotron{

height: 370px;
margin-left: 0px;
margin-right: 0px;
background-image: url("https://accelerator-origin.kkomando.com/wp-content/uploads/2018/01/doctor-checking-health-on-phone.jpg");


}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #000;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}