body {
  background-image: url("https://www.stvincentsconsulting.com/img/img-480310816.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.button {
  background-color: #b2c675;
  border: solid black 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
h1 {
  color: #b2c675;
  text-align: center;
  /* background-color:  */
}
p {
  color: #b2c675;
  text-align: center;
}
.center {
  text-align: center;
}

.right{
  text-align:right;
}

.left{
  text-align:left;
}