body {
  background-image: url("https://78.media.tumblr.com/2b608f59e905d305c7b1e5609131f35a/tumblr_inline_mum5alefHY1ry1icv.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  text-align: center;
}

.button {
  background-color: #b2c675;
  border: solid darkgreen 2px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: grab;
  border-radius: 50%;
  font-family: Garamond;
}
.a {
  background-color: #b2c675;
  border: solid darkgreen 2px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: grab;
  border-radius: 5px;
  font-family: Garamond;
}

#green-header {
  color: white;
  text-align: center;
  background-color: #b2c675;
  border: solid darkgreen 2px;
  font-family: Garamond;
  padding-top: 4px;
 margin-left: 350px;
 margin-right: 350px;
}

#green-border {
  color: white;
  text-align: center;
  background-color: #b2c675;
  border: solid darkgreen 2px;
  font-family: Garamond;
  margin-left: 275px;
  margin-right: 275px;
  font-size: 20px;
}

.col-center {
  text-align: center;
}

.col-right{
  text-align:right;
}

.col-left{
  text-align:left;
}

.row-nav {
  height: 30 px;
}